body {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Unbounded', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 5rem;
    color: white;
    justify-content: center;
}
.page1 {
    height: 100vh;
    align-items: center;
    font-size: 5rem;
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: right;
    display: flex;
    background-image: url("https://i.ibb.co/WPH5mF8/roads.png");
    overflow: hidden;
}.page2{
    height: 100vh;
    width: 100%;
    display: flex;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    
}


.page3{
    height: 100vh;
    width: 100%;
    display: flex;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    justify-content: right;
    
}
.page4{
    height: 100vh;
    width: 100%;
    display: flex;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    justify-content: center;
    
}
.page6{
    height: 100vh;
    width: 100%;
    display: flex;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    justify-content: right;
    
}

.page7{
    height: 100vh;
    width: 100%;
    display: flex;
    font-size: 5rem;
    background-color: black;
    justify-content: right;
    
}
#car img{
    position: absolute;
    height: 30%;
    width: auto;
    left:0;
}

.odometer{
    font-size: 170%;
    color: black;
    justify-content: center;
    left:90px;
}

.title{
    font-size: 95%;
    color: black;
    top:0px;
    position: absolute;
    font-family:Unbounded;
    left:90px;

    text-shadow: 0.08em 0.05em #F5BB1E;
}
.happen p {
    font-size: 170%;
    color: black;
    top:65%;
    position: absolute;
    font-family:Unbounded;
    left:90px;
}
.word p{
    font-size: 28%;
    color: black;
    font-family:Unbounded;
}

/* Add these styles to your CSS file */
#car img {
    position: absolute;
    top: 100%;
    left: 68%;
    transform: translate(-11%, -20%);
    animation: moveCar 3s linear infinite; /* Set the loop duration to 3 seconds */
}

@keyframes moveCar {
    0% {
        transform: translate(-78%, -57%);
    }
    100% {
        transform: translate(calc(10vw + 97%), -60vh); /* Continuous forward movement */
    }
}
::-moz-selection { /* Code for Firefox */
    color: #F5BB1E;
    background: rgb(0, 0, 0);
    text-shadow: none;
  }
  
  ::selection {
    color: #F5BB1E;
    background: rgb(0, 0, 0);
    text-shadow: none;
  }


.title-2{
    color:black;
    padding:40px;
    font-family:Unbounded;
    text-shadow: 0.08em 0.05em #9b9797;
    height:40dvh;
    margin-left:10%;
}
.title-3{
    color:black;
    font-size:60%;
    padding:40px;
    font-family:Unbounded;
    text-shadow: 0.08em 0.05em #9b9797;
    height:40dvh;   
    margin-left: 10px;
}
#bar3{
    width: 60%; 
    height: 80%; 
    justify-content: center;
    align-items: center;
    display: flex;
}


body{
    background-color: black;
  }
  
  .cd__main p{
      padding: 20% 10%;
      font-size: 200%;
      font-family: arial;
      color: #333333;
  }
  #retype{
      color: #3333DD;
      border-right: solid 0.1em #333377;
  }
  .word{
    position: absolute;
    top:150dvh;
    right:0;
    height:40dvh;  
    text-align: right;
width:90dvb
}
.predicted {
    font-weight: bold;
    font-size: 1.2em;
}
