body {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Unbounded', sans-serif;
}
.page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 5rem;
    color: white;
    justify-content: center;
}
.page1 {
    height: 100vh;
    align-items: center;
    font-size: 5rem;
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: right;
    display: flex;
    background-image: url("https://i.ibb.co/WPH5mF8/roads.png");
    overflow: hidden;
}
#car img{
    position: absolute;
    height: 30%;
    width: auto;
    left:0;
}
.odometer{
    font-size: 170%;
    color: black;
    justify-content: center;
    left:90px;
}

.title{
    font-size: 95%;
    color: black;
    top:0px;
    position: absolute;
    font-family:Unbounded;
    left:90px;

    text-shadow: 0.08em 0.05em #F5BB1E;
}
.happen p {
    font-size: 170%;
    color: black;
    top:65%;
    position: absolute;
    font-family:Unbounded;
    left:90px;

    text-shadow: 0.09em 0.05em #66A92F;/
}

/* Add these styles to your CSS file */
#car img {
    position: absolute;
    top: 100%; /* Adjust to your preference */
    left: 68%; /* Adjust to your preference */
    transform: translate(-50%, -50%);
    animation: moveCar 1s linear forwards infinite;
}

@keyframes moveCar {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(8vw, -40vh); /* Adjust this to move diagonally left */
    }
}
