body {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Unbounded', sans-serif;
    overflow-x: hidden;
}
.page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 5rem;
    color: white;
    justify-content: center;
}
.page1 {
    height: 100vh;
    align-items: center;
    font-size: 5rem;
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: right;
    display: flex;
    background-image: url("https://i.ibb.co/WPH5mF8/roads.png");
    overflow: hidden;
}.page2{
    height: 100vh;
    width: 100%;
    display: flex;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    
}
#car img{
    position: absolute;
    height: 30%;
    width: auto;
    left:0;
}
.odometer{
    font-size: 170%;
    color: black;
    justify-content: center;
    left:90px;
}

.title{
    font-size: 95%;
    color: black;
    top:0px;
    position: absolute;
    font-family:Unbounded;
    left:90px;

    text-shadow: 0.08em 0.05em #F5BB1E;
}
.happen p {
    font-size: 170%;
    color: black;
    top:65%;
    position: absolute;
    font-family:Unbounded;
    left:90px;

    text-shadow: 0.09em 0.05em #66A92F;/
}

/* Add these styles to your CSS file */
#car img {
    position: absolute;
    top: 100%;
    left: 68%;
    transform: translate(-11%, -20%);
    animation: moveCar 3s linear infinite; /* Set the loop duration to 3 seconds */
}

@keyframes moveCar {
    0% {
        transform: translate(-78%, -57%);
    }
    100% {
        transform: translate(calc(10vw + 97%), -60vh); /* Continuous forward movement */
    }
}
::-moz-selection { /* Code for Firefox */
    color: #F5BB1E;
    background: rgb(0, 0, 0);
    text-shadow: none;
  }
  
  ::selection {
    color: #F5BB1E;
    background: rgb(0, 0, 0);
    text-shadow: none;
  }


.title-2{
    color:black;
    padding:50px;
    font-family:Unbounded;
    text-shadow: 0.08em 0.05em #9b9797;
}
